torch==1.13.1
torch-geometric==2.0.0
pandas
gensim==4.3.0
networkx==2.8.8
matplotlib==3.6.3
node2vec==0.4.6
seaborn==0.12.2
scikit-learn==1.2.0
deepchem==2.7.1
torch-geometric-temporal==0.54.0
captum==0.6.0